<div class="col-md-6 mx-auto shadow p-3">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h1 class="navbar-brand">Cadastrar Medicos</h1>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/medico" ><i class="fa fa-angle-left"></i> Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <form method="post" action="/medico/editar/{{medico.id}}">
        <fieldset>
            <legend>Dados do Medico</legend>

            <label>NOME</label>
            <input name="nome" type="text" class="form-control" value="{{medico.nome}}">

            <label>ESPECIALIDADE</label>
            <input name="espec" type="text" class="form-control" value="{{medico.espec}}">

            <label>CRM</label>
            <input name="crm" type="text" class="form-control" value="{{medico.crm}}">


            <button type="submit" class="btn btn-success mt-3">Salvar</button>
        </fieldset>
    </form>
</div>